@font-face {
    font-family: 'Jomolhari';
    src: url(../fonts/Jomolhari-Regular.ttf);
}

.form {
    font-family: 'Jomolhari';
    width: 288px;
    height: 530px;
    margin: 0 auto;
    background: #FFFDFD;
    border: 1px solid #000000;
    border-radius: 26px;
    text-align: center;
    color: #000000;
}

.form-header {
    padding-top: 14px;
    font-weight: 400;
    font-size: 26px;
    line-height: 42px;
    text-transform: uppercase;
}

.form-payment {
    padding-top: 8px;
    font-weight: 400;
    font-size: 23px;
    line-height: 37px;
    text-decoration-line: underline;
}

.form-price {
    padding-top: 90px;
    font-weight: 400;
    font-size: 23px;
    line-height: 37px;
}

.form-back {
    padding-top: 228px;
    height: 45px;
}

.form-back button {
    background: #fff;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-decoration-line: underline;
    text-align: center;
}